extends layout

block content
    h1.align_center= title
    hr
    .main.container
        .row
            .col-md-6.col-md-offset-3
                h3 Sign up with your email address
                form(method='post', action='')
                    div.form-group
                        label.text-white(for='name') Name:
                        input#name.form-control(type='text'
                            required name='name' maxlength=70 minlength=2
                            placeholder="Name"
                            value=(undefined === user ? '' : user.name))
                    div.form-group
                        label.text-white(for='email') Email:
                        input#email.form-control(type='email' required name='email'
                            placeholder="Email"
                            value=(undefined === user ? '' : user.email))
                    div.form-group
                        label.text-white(for='date_of_birth') Date of birth:
                        input#date_of_birth.form-control(type='date'
                            required, name='date_of_birth'
                            value=(undefined === user ? '' : user.date_of_birth))
                    div.form-group
                        label.text-white(for='password') Password:
                        input#password.form-control(type='password' required name='password'
                            placeholder="Password (8 characters minimum)"
                            maxlength=35 minlength=8)
                    div.form-group
                        label.text-white(for='password_confirm') Confirm Password:
                        input#password_confirm.form-control(type='password'
                            required, name='confirmPassword'
                            placeholder="Confirm Password")
                    div.form-group
                        label.text-white(for='phone_number') Phone Number:
                        input#phone_number.form-control(type='tel'
                            required name='phone_number' maxlength=35 minlength=7
                            placeholder="Phone Number"
                            value=(undefined === user ? '' : user.phone_number))
                    div.form-group
                        label.text-white(for='address') Address:
                        input#address.form-control(type='text'
                            required name='address' maxlength=255 minlength=3
                            placeholder="Address"
                            value=(undefined === user ? '' : user.address))
                    button(type='submit') Sign up

                if errors
                    ul.mt-2
                        for error in errors
                            li.text-danger!= error.msg

                hr

                p Already have an account?
                a(href="/login") Log in



